.ms-header {
    min-height: 90px;
    background-color: #2C3E50;
    color: white;
}

.ms-hamburger {
    height: 35px;
    width: 45px;
    background-color: blueviolet;
}

.ms-start {
    background-color: #1ABC9C;
    color: white;
}

.ms-img {
    width: 230px;
    height: 255px;
    background-color: #2C3E50;
}

.ms-star {
    width: 230px;
    height: 35px;
    background-color: cyan;
}

.ms-mt-2 {
    margin-top: 2rem;
}
