/* -----BACKGROUND COLORS----- */
.ms-bg-green {
    background-color: rgb(26, 188, 156);
}

.ms-bg-petrol {
    background-color: #2C3E50;
}

.ms-bg-mildred {
    background-color: #BA4B63;
}

.ms-bg-lightblue {
    background-color: #1EA486;
}

.ms-bg-dark {
    background-color: #140F0F;
}

.ms-bg-seablue {
    background-color: #1C83C1;
}

.ms-bg-elecblue {
    background-color: #0e38b5;
}

.ms-bg-sand {
    background-color: #CCB2A3;
}

.ms-bg-greyblue {
    background-color: #3A546D;
}


/* -----HEIGHTS & WIDTHS----- */
.ms-w250 {
    width: 250px;
    max-width: 100%;
}


/* -----MARGINS & PADDINGS----- */
.mt-6 {
    margin-top: 4.5rem;
}


/* -----ITEMS----- */
.star hr {
    display: inline-block;
    width: 100px;
    max-width: 20%;
    height: 4px;
    border-radius: 2px;
    vertical-align:middle;
    opacity: 1;
}

.plus {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    background-color: rgba(26, 188, 156, 0);
    color: transparent;
    display: none;
}

.form textarea {
    resize: both;
    min-height: 10rem;
}

.btn-social {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 1px solid white;
}

/* -----HOVER----- */
.hamburger:hover .fa-bars{
    background-color: white;
    color: #2C3E50;
}

nav .list-inline-item a:hover {
    color: #1ABC9C !important;
}

.pf-item:hover {
    cursor: pointer;
}

.pf-item:hover .plus {
    display: flex;
    background-color: rgba(26, 188, 156, .4);
    color: white;
}

.btn-dl:hover {
    color: #1ABC9C !important;
}

.btn-snd:hover {
    color: #1ABC9C !important;
    background-color: white;
    border: 1px solid #1ABC9C !important;
}

.btn-social:hover {
    background-color: white;
    color: #3A546D;
    border: 1px solid white;
}

.form input:focus,
.form textarea:focus {
    box-shadow: none;
    border-bottom: 1px solid #2C3E50 !important;
}